# Loading data

In [1]:
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

import sqlite3
import pandas as pd
import numpy as np
import nltk
nltk.download('stopwords')
import string
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import TimeSeriesSplit
from sklearn import preprocessing
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import roc_curve, auc
from nltk.stem.porter import PorterStemmer
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

import re
# Tutorial about Python regular expressions: https://pymotw.com/2/re/
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer

from gensim.models import Word2Vec
from gensim.models import KeyedVectors
import pickle

from tqdm import tqdm
import os

#Metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import recall_score

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# using the SQLite Table to read data.
con = sqlite3.connect('/content/drive/MyDrive/ML/database.sqlite') 
#filtering only positive and negative reviews i.e. 
# not taking into consideration those reviews with Score=3
filtered_data = pd.read_sql_query(""" SELECT * FROM Reviews WHERE Score != 3 """, con)

In [4]:
# drop duplicate rows
data1 = filtered_data.drop_duplicates(subset={"UserId","ProfileName","Time","Text"},keep='first')

# drop rows that do not meet the condition
data1 = data1[data1['HelpfulnessNumerator'] <= data1['HelpfulnessDenominator']]

In [5]:
# Give reviews with Score>3 a positive rating, and reviews with a score<3 a negative rating.
def partition(x):
    if x < 3:
        return 0
    return 1

#changing reviews with score less than 3 to be positive and vice-versa
actualScore = filtered_data['Score']
positiveNegative = actualScore.map(partition) 
filtered_data['Label'] = positiveNegative
print("Number of data points in our data", filtered_data.shape)
filtered_data.head(3)

Number of data points in our data (525814, 11)

   Id   ProductId  ...                                               Text Label
0   1  B001E4KFG0  ...  I have bought several of the Vitality canned d...     1
1   2  B00813GRG4  ...  Product arrived labeled as Jumbo Salted Peanut...     0
2   3  B000LQOCH0  ...  This is a confection that has been around a fe...     1

[3 rows x 11 columns]

In [6]:
# count score values
filtered_data['Score'].value_counts()

5    363122
4     80655
1     52268
2     29769
Name: Score, dtype: int64

In [7]:
# Randomely select 20000 samples from each'Score' 1,2,4,5 
S1 = filtered_data[filtered_data['Score'] ==1].sample(n=2500,random_state=0)
S2 = filtered_data[filtered_data['Score'] ==2].sample(n=2500,random_state=0)
S4 = filtered_data[filtered_data['Score'] ==4].sample(n=2500,random_state=0)
S5 = filtered_data[filtered_data['Score'] ==5].sample(n=2500,random_state=0)
data2 = pd.concat([S1,S2,S4,S5])
data2.shape
data2.head(5)

            Id  ... Label
234216  254114  ...     0
438705  474410  ...     0
844        915  ...     0
428370  463254  ...     0
457270  494421  ...     0

[5 rows x 11 columns]

# [1] Text Preprocessing
## [1.1] Data Cleaning: Deduplication

In [8]:
#Sorting data according to ProductId in ascending order
final=data2.sort_values('ProductId', axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')

## [1.2] Stemming, stop-word removal and Lemmatization.

In [9]:
# find sentences containing HTML tags
import re
i=0;
for sent in final['Text'].values:
    if (len(re.findall('<.*?>', sent))):
        print(i)
        print(sent)
        break;
    i += 1;

3
If I could rate this fly trap lower than one star, I would.  I think flies have come from miles away just to come in and laugh at this thing.  I'd have more success taking the flies into a vat of scalding water than getting a fly to randomly run into this box of ridiculousness.<br />WASTE OF $$!

In [10]:

stop = set(stopwords.words('english')) #set of stopwords
sno = nltk.stem.SnowballStemmer('english') #initialising the snowball stemmer

def cleanhtml(sentence): #function to clean the word of any html-tags
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, ' ', sentence)
    return cleantext
def cleanpunc(sentence): #function to clean the word of any punctuation or special characters
    cleaned = re.sub(r'[?|!|\'|"|#]',r'',sentence)
    cleaned = re.sub(r'[.|,|)|(|\|/]',r' ',cleaned)
    return  cleaned
print(stop)
print('************************************')
print(sno.stem('tasty'))

{'re', 'ma', 'd', "shan't", 'nor', 'its', 'or', 'has', 'was', 'any', 'm', 'you', 'too', 'above', 'herself', 'and', 'those', 'aren', 'why', 'on', 'being', 'll', 'a', "won't", 'himself', 'does', 'my', 'do', 'she', "you're", 'both', 'don', 'more', "you'd", 'ours', 'wasn', 'them', "wouldn't", 'hadn', "don't", 'that', 'weren', 'during', 'at', "couldn't", "hasn't", 'few', 'can', 'about', 'from', 'how', 'hasn', 'shouldn', 'shan', "weren't", 'me', 'did', "wasn't", 'theirs', 'off', "should've", 'been', 'each', 'needn', 'under', 've', 'won', 'now', 'haven', 'we', 'ourselves', 'over', 'isn', 'most', 'no', 'should', 'in', 'whom', 'having', 'doesn', 'as', 'below', 'him', 'of', 'then', 'while', 'ain', 't', 'same', 'against', "aren't", 'be', 'between', 'again', 'by', 'o', 'some', 'he', 'her', 'when', 'here', "mustn't", 'such', 'before', 'yourselves', 'just', 'who', 'our', 'after', 'but', 'have', 'there', "hadn't", "doesn't", 'because', 'are', "you'll", 'into', "it's", 'themselves', "mightn't", 'mightn', 'very', 'to', 'through', 'where', 'couldn', 'am', 'were', 'y', "needn't", 'until', 'down', "didn't", 'up', 'i', 'these', 'didn', 'doing', 'all', "that'll", 'only', 'myself', 'other', 'it', 'own', 'for', 'their', 'hers', 'your', "she's", 'so', 'than', "shouldn't", "isn't", 'wouldn', 'is', 'this', 'the', 'if', 's', 'not', 'an', "you've", 'mustn', 'what', 'yourself', 'will', 'once', 'itself', "haven't", 'his', 'yours', 'out', 'further', 'which', 'with', 'had', 'they'}
************************************
tasti

In [11]:
#Code for implementing step-by-step the checks mentioned in the pre-processing phase

if not os.path.isfile('final.sqlite'):
    i=0
    str1=' '
    final_string=[]
    all_positive_words=[] # store words from +ve reviews here
    all_negative_words=[] # store words from -ve reviews here.
    s=''
    for sent in tqdm(final['Text'].values):
        filtered_sentence=[]
        #print(sent);
        sent=cleanhtml(sent) # remove HTMl tags
        for w in sent.split():
            for cleaned_words in cleanpunc(w).split():
                if((cleaned_words.isalpha()) & (len(cleaned_words)>2)):    
                    if(cleaned_words.lower() not in stop):
                        s=(sno.stem(cleaned_words.lower())).encode('utf8')
                        filtered_sentence.append(s)
                        if (final['Score'].values)[i] == 'positive': 
                            all_positive_words.append(s) #list of all words used to describe positive reviews
                        if(final['Score'].values)[i] == 'negative':
                            all_negative_words.append(s) #list of all words used to describe negative reviews reviews
                    else:
                        continue
                else:
                    continue 
        #print(filtered_sentence)
        str1 = b" ".join(filtered_sentence) #final string of cleaned words
        #print("***********************************************************************")

        final_string.append(str1)
        i+=1

    #############---- storing the data into .sqlite file ------########################
    final['CleanedText']=final_string #adding a column of CleanedText which displays the data after pre-processing of the review 
    final['CleanedText']=final['CleanedText'].str.decode("utf-8")
        # store final table into an SQlLite table for future.
    conn = sqlite3.connect('final.sqlite')
    c=conn.cursor()
    conn.text_factory = str
    final.to_sql('Reviews', conn,  schema=None, if_exists='replace', \
                 index=True, index_label=None, chunksize=None, dtype=None)
    conn.close()
    
    
    with open('positive_words.pkl', 'wb') as f:
        pickle.dump(all_positive_words, f)
    with open('negitive_words.pkl', 'wb') as f:
        pickle.dump(all_negative_words, f)

100%|██████████| 10000/10000 [00:18<00:00, 544.41it/s]

In [12]:
if os.path.isfile('final.sqlite'):
    conn = sqlite3.connect('final.sqlite')
    final = pd.read_sql_query(""" SELECT * FROM Reviews WHERE Score != 3 """, conn)
    conn.close()
else:
    print("Please the above cell")

In [13]:
final.to_pickle("./amazon.pkl")

In [14]:
# read data from pickle file from previous stage
data = pd.read_pickle("./amazon.pkl")
data.shape

(10000, 13)

# [2] Sorting data based on time

In [15]:
# Random sampling
#df = final.take(np.random.permutation(len(final))[:10000])
#df.head(2)

In [16]:
df = data
df['Time'] = pd.to_datetime(df['Time'])
# Sort by time
data = df.sort_values(by='Time')

print(data.shape)
print(data['Score'].value_counts())

(10000, 13)
5    2500
4    2500
2    2500
1    2500
Name: Score, dtype: int64

# [3] Storing into train and test

In [17]:
data.head(5)

     index      Id  ... Label                                        CleanedText
6   346041  374343  ...     0  alway enjoy movi funni entertain didnt hesit p...
7   346053  374357  ...     1  simpli beetlejuic funniest comedi kind sinc gh...
9   346040  374342  ...     0  let know movi one person favorit ghost movi sa...
52  388413  419994  ...     0  thing like point roast drink northern itali ma...
53   38889   42227  ...     1  groceri store kind coffe laid one tri tast lik...

[5 rows x 13 columns]

In [18]:
# Spliting into Train and test
#X_train, X_test, y_train, y_test = train_test_split(data['CleanedText'].values,data['Score'].values,test_size=0.3,shuffle=False)
X=data['CleanedText'].values
y_score = data['Score'].values
y_label = data['Label'].values

# [4] Bag of Words (BoW)

In [19]:
X=data['CleanedText'].values
y_score = data['Score'].values
y_label = data['Label'].values

In [20]:
#Bag of words
count_vect = CountVectorizer(max_features=1000, min_df=10) 

X_bow = count_vect.fit_transform(X)
#Normalize Data
X_bow = preprocessing.normalize(X_bow)
print("Train Data Size: ",X_bow.shape)

Train Data Size:  (10000, 1000)

In [21]:
from scipy.sparse import csr_matrix

df = pd.DataFrame(data=csr_matrix.todense(X_bow))
df.to_csv('data_BOW.csv', index=False)

# [5] TF-IDF

In [22]:
# Spliting into Train and test
X=data['CleanedText'].values
y_score = data['Score'].values
y_label = data['Label'].values

In [23]:
tfidf = TfidfVectorizer(ngram_range=(1,2), max_features=500, min_df=10) #Using bi-grams
X_tfidf = tfidf.fit_transform(X)
#Normalize Data
X_tfidf = preprocessing.normalize(X_tfidf)
print("Train Data Size: ",X_tfidf.shape)

Train Data Size:  (10000, 500)

In [24]:
data_tfidf = pd.DataFrame(X_tfidf)
data_tfidf['Score'] = y_score
data_tfidf['Label'] = y_label
data_tfidf

                                                      0  Score  Label
0       (0, 475)\t0.19076536226522964\n  (0, 474)\t0...      1      0
1       (0, 226)\t0.3916743389841021\n  (0, 262)\t0....      4      1
2       (0, 89)\t0.11714468575883168\n  (0, 455)\t0....      2      0
3       (0, 290)\t0.0423628920510666\n  (0, 478)\t0....      2      0
4       (0, 442)\t0.34726816820715223\n  (0, 205)\t0...      4      1
...                                                 ...    ...    ...
9995    (0, 282)\t0.3320056698143062\n  (0, 88)\t0.4...      2      0
9996    (0, 334)\t0.12382720220294353\n  (0, 123)\t0...      5      1
9997    (0, 287)\t0.3045800949770464\n  (0, 494)\t0....      5      1
9998    (0, 13)\t0.4241331868249202\n  (0, 121)\t0.5...      1      0
9999    (0, 228)\t0.13630237752075827\n  (0, 85)\t0....      5      1

[10000 rows x 3 columns]

In [25]:
# save the dataframe as a csv file
data_tfidf.to_csv("data_tfidf.csv")

# [6] Word2Vec

In [26]:
# Train your own Word2Vec model using your own text corpus
i=0
list_of_sent=[]
for sent in data['CleanedText'].values:
    list_of_sent.append(sent.split())

In [27]:
print(data['CleanedText'].values[0])
print("*****************************************************************")
print(list_of_sent[0])

alway enjoy movi funni entertain didnt hesit pick clamshel edit guess market plan make movi famili someth elimin strong profan element usual edit televis version warn want uncut version avoid clamshel edit
*****************************************************************
['alway', 'enjoy', 'movi', 'funni', 'entertain', 'didnt', 'hesit', 'pick', 'clamshel', 'edit', 'guess', 'market', 'plan', 'make', 'movi', 'famili', 'someth', 'elimin', 'strong', 'profan', 'element', 'usual', 'edit', 'televis', 'version', 'warn', 'want', 'uncut', 'version', 'avoid', 'clamshel', 'edit']

In [28]:
# min_count = 5 considers only words that occured atleast 5 times
w2v_model=Word2Vec(list_of_sent,min_count=5,size=50, workers=4)

In [29]:
w2v_words = list(w2v_model.wv.vocab)
print("number of words that occured minimum 5 times ",len(w2v_words))
print("sample words ", w2v_words[0:50])

number of words that occured minimum 5 times  4671
sample words  ['alway', 'enjoy', 'movi', 'funni', 'entertain', 'didnt', 'hesit', 'pick', 'edit', 'guess', 'market', 'plan', 'make', 'famili', 'someth', 'elimin', 'strong', 'element', 'usual', 'version', 'warn', 'want', 'avoid', 'simpli', 'kind', 'sinc', 'michael', 'play', 'titl', 'charact', 'ghost', 'like', 'mischief', 'call', 'coupl', 'baldwin', 'get', 'rid', 'peopl', 'live', 'hous', 'let', 'know', 'one', 'person', 'favorit', 'said', 'feel', 'need', 'tell']

# [7] Avg Word2Vec

In [30]:
# average Word2Vec
# compute average word2vec for each review.
sent_vectors = []; # the avg-w2v for each sentence/review is stored in this list
for sent in tqdm(list_of_sent): # for each review/sentence
    sent_vec = np.zeros(50) # as word vectors are of zero length
    cnt_words =0; # num of words with a valid vector in the sentence/review
    for word in sent: # for each word in a review/sentence
        if word in w2v_words:
            vec = w2v_model.wv[word]
            sent_vec += vec
            cnt_words += 1
    if cnt_words != 0:
        sent_vec /= cnt_words
    sent_vectors.append(sent_vec)
print(len(sent_vectors))
print(len(sent_vectors[0]))

100%|██████████| 10000/10000 [00:10<00:00, 950.19it/s]

10000
50

In [31]:
# Spliting into Train and test
X_word2vec = sent_vectors
y_score = data['Score'].values
y_label = data['Label'].values
# X_train, X_test, y_train, y_test = train_test_split(sent_vectors,data['Score'].values,test_size=0.3,shuffle=False)

In [32]:
data_word2vec = pd.DataFrame(X_word2vec)
data_word2vec['Score'] = y_score
data_word2vec['Label'] = y_label
data_word2vec

             0         1         2         3  ...        48        49  Score  Label
0     0.044891 -0.256138 -0.598166 -0.039018  ... -0.563844 -0.053044      1      0
1     0.152413 -0.113530 -0.445075  0.007054  ... -0.469673 -0.025651      4      1
2     0.061683 -0.100678 -0.551078  0.078619  ... -0.602103 -0.113836      2      0
3    -0.112709 -0.761445 -0.987060 -0.162646  ... -0.594518 -0.525978      2      0
4    -0.344697 -0.734372 -1.073051 -0.189044  ... -0.708950 -0.443153      4      1
...        ...       ...       ...       ...  ...       ...       ...    ...    ...
9995 -0.270722 -0.401977 -1.017921 -0.040838  ... -0.877727 -0.242622      2      0
9996 -0.207984 -0.344058 -0.762161 -0.075227  ... -0.657485 -0.264165      5      1
9997 -0.197664 -0.681960 -0.757087 -0.084210  ... -0.655241 -0.289507      5      1
9998  0.416650  0.015591 -0.357376 -0.012044  ... -0.515709 -0.227109      1      0
9999  0.003321 -0.329418 -0.653709 -0.231655  ... -0.870346 -0.047725      5      1

[10000 rows x 52 columns]

In [33]:
# save the dataframe as a csv file
data_word2vec.to_csv("data_word2vec.csv")

# [8] TF-IDF Word2Vec

In [34]:
model = TfidfVectorizer()
tf_idf_matrix = model.fit_transform(data['CleanedText'].values)
# we are converting a dictionary with word as a key, and the idf as a value
dictionary = dict(zip(model.get_feature_names(), list(model.idf_)))

In [35]:
# TF-IDF weighted Word2Vec
tfidf_feat = model.get_feature_names() # tfidf words/col-names
# final_tf_idf is the sparse matrix with row= sentence, col=word and cell_val = tfidf

tfidf_sent_vectors = []; # the tfidf-w2v for each sentence/review is stored in this list
row=0;
for sent in tqdm(list_of_sent): # for each review/sentence 
    sent_vec = np.zeros(50) # as word vectors are of zero length
    weight_sum =0; # num of words with a valid vector in the sentence/review
    for word in sent: # for each word in a review/sentence
        if word in w2v_words:
            vec = w2v_model.wv[word]
#             tf_idf = tf_idf_matrix[row, tfidf_feat.index(word)]
            # to reduce the computation we are 
            # dictionary[word] = idf value of word in whole courpus
            # sent.count(word) = tf valeus of word in this review
            tf_idf = dictionary[word]*(sent.count(word)/len(sent))
            sent_vec += (vec * tf_idf)
            weight_sum += tf_idf
    if weight_sum != 0:
        sent_vec /= weight_sum
    tfidf_sent_vectors.append(sent_vec)
    row += 1

100%|██████████| 10000/10000 [00:15<00:00, 658.24it/s]

In [36]:
# Spliting into Train and test
X_tfidf_word2vec = tfidf_sent_vectors
y_score = data['Score'].values
y_label = data['Label'].values
#X_train, X_test, y_train, y_test = train_test_split(tfidf_sent_vectors, data['Score'].values, test_size=0.3, shuffle=False)

In [37]:
data_tfidf_word2vec = pd.DataFrame(X_tfidf_word2vec)
data_tfidf_word2vec['Score'] = y_score
data_tfidf_word2vec['Label'] = y_label
data_tfidf_word2vec

             0         1         2         3  ...        48        49  Score  Label
0     0.083159 -0.194632 -0.453659 -0.035444  ... -0.467894 -0.094108      1      0
1     0.182530 -0.084354 -0.353159  0.009299  ... -0.407288 -0.058466      4      1
2     0.055931 -0.103146 -0.515731  0.065286  ... -0.569929 -0.127378      2      0
3    -0.301735 -1.454538 -1.443953 -0.423058  ... -0.543236 -1.124051      2      0
4    -0.360219 -0.905066 -1.144784 -0.225217  ... -0.687956 -0.605506      4      1
...        ...       ...       ...       ...  ...       ...       ...    ...    ...
9995 -0.163092 -0.355032 -0.914873 -0.039714  ... -0.809627 -0.280319      2      0
9996 -0.341011 -0.513429 -0.964311 -0.189818  ... -0.732386 -0.417839      5      1
9997 -0.203475 -0.620582 -0.754626 -0.068063  ... -0.644908 -0.316173      5      1
9998  0.381873  0.042101 -0.332223  0.043093  ... -0.500043 -0.306679      1      0
9999 -0.281637 -0.351311 -0.849035 -0.359974  ... -1.120163 -0.158571      5      1

[10000 rows x 52 columns]

In [38]:
# save the dataframe as a csv file
data_tfidf_word2vec.to_csv("data_tfidf_word2vec.csv")